.encabezado-store {
    background:
        linear-gradient(75deg, #570606c2, #362d0ad4), url(../assets/arcticmonkeys7.png);
    background-size: cover;
    background-position: center;
    height: 500px;
    position: relative;
    max-width: 100%;
}

.header-text-store {
    position: absolute;
    top: 50%;
    left: 50%;
    opacity: 1;
    transform: translate(-50%, -50%);
    text-align: center;
    color: $white-color;
}